body {
  font-family: "Montserrat", sans-serif;
  background: rgb(255, 96, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 96, 0, 1) 0%,
    rgba(255, 156, 0, 1) 49%,
    rgba(74, 76, 255, 1) 51%
  );
  color: rgb(59, 59, 59);
}

.image {
  opacity: 0.75;
  background: rgb(0, 0, 0);
  object-fit: cover;
  border: black 5px solid;
  border-radius: 100%;
  display: block;
  margin: 0 auto;
  margin-bottom: 5px;
  background: rgb(0, 0, 0);
  width: 270px;
  height: 300px;
}

.text5 {
  opacity: 1;
  width: 150px;
  background: white;
  border: rgb(0, 0, 0) 3px solid;
  border-radius: 20px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0 auto;
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
}

.text1 {
  opacity: 1;
  background: white;
  border: rgb(0, 0, 0) 3px solid;
  border-radius: 20px;
  margin: 0 auto;
  margin-bottom: 5px;
  padding-left: 5px;
  width: 1200px;
}
.text2 {
  opacity: 1;
  background: white;
  border: rgb(0, 0, 0) 3px solid;
  border-radius: 20px;
  margin: 0 auto;
  margin-bottom: 5px;
  padding-right: 5px;
  width: 1300px;
}
.text3 {
  opacity: 1;
  background: white;
  border: rgb(0, 0, 0) 3px solid;
  border-radius: 20px;
  margin: 0 auto;
  margin-bottom: 5px;
  padding-left: 5px;
  width: 1400px;
}
.text4 {
  opacity: 1;
  background: white;
  border: rgb(0, 0, 0) 3px solid;
  border-radius: 20px;
  margin: 0 auto;
  margin-bottom: 5px;
  padding-right: 5px;
  width: 1500px;
}

.text0 {
  opacity: 1;
  width: 430px;
  background: white;
  border: rgb(0, 0, 0) 3px solid;
  border-radius: 20px;
  margin: 0 auto;
  margin-bottom: 5px;
  padding-left: 5px;
  margin-top: 5px;
  font-size: 18px;
  display: flex;
  justify-content: center;
}

.text6 {
  opacity: 1;
  width: 770px;
  background: white;
  border: rgb(0, 0, 0) 3px solid;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 10px;
  padding-left: 5px;
  font-size: 18px;
}

.video {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  border: black 5px solid;
  border-radius: 20px;
}

.image1 {
  background: rgb(0, 0, 0);
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: rgb(0, 0, 0) 5px solid;
  border-radius: 30px;
}

.image2 {
  background: rgb(0, 0, 0);
  margin-bottom: 10px;
  border: rgb(0, 0, 0) 5px solid;
  border-radius: 30px;
  background: rgb(0, 0, 0);
}

.image3 {
  background: rgb(0, 0, 0);
  margin-bottom: 10px;
  border: rgb(0, 0, 0) 5px solid;
  border-radius: 30px;
  background: rgb(0, 0, 0);
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin-left: 10px;
}

.developer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wikipedia {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.images {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button1 {
  opacity: 1;
  margin: 0 auto;
  background-color: whitesmoke;
  border: black 5px solid;
  color: Black;
  border-radius: 15px;
  font-family: "Montserrat", sans-serif;
}

.button2 {
  opacity: 1;
  margin: 0 auto;
  background-color: whitesmoke;
  border: black 5px solid;
  color: black;
  border-radius: 15px;
  font-family: "Montserrat", sans-serif;
}

.text0:hover {
  opacity: 0.75;
}

.text1:hover {
  opacity: 0.75;
}
.text2:hover {
  opacity: 0.75;
}
.text3:hover {
  opacity: 0.75;
}
.text4:hover {
  opacity: 0.75;
}

.text5:hover {
  opacity: 0.75;
}

.text6:hover {
  opacity: 0.75;
}

.image1:hover {
  opacity: 0.75;
}

.image2:hover {
  opacity: 0.75;
}

.image3:hover {
  opacity: 0.75;
}

.video:hover {
  opacity: 0.75;
}

.button1:hover {
  opacity: 0.75;
}

.button2:hover {
  opacity: 0.75;
}
